<%- include("partials/nav") %>

<section>
    <div class="table-responsive">
        <table id="customers">
            <tr>
              <th>S.No.</th>
              <th>User</th>
              <th>Receiver</th>
              <th>TransactionID</th>
              <th>Amount</th>
              <th>Time</th>
            </tr>
           <% transactions.forEach((el,index) => { %>
            <tr class="row">
              <td><%= index+1 %></td>
              <td><%= el.username %></td>
              <td><%= el.receivername %></td>
              <td><%= el.transactionID %></td>
              <td class="balance">₹<%= el.amount %></td>
              <td class="time"><%= el.transaction_time %></td>
            </tr>
           <% }) %>
        </table>
    </div>
   
</section>

</body>
</html> 